* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-repeat: no-repeat;
 min-height: 100vh;
 background-color: rgb(206, 185, 185);
}

header {
    background-color: hsl(0, 59%, 41%);
    height: 20px;
    width: 100%;
    

}

.TERUGBRENGEN {
    color: rgb(255, 255, 255);
    font-size: 6px;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}


.links {
    text-align: center ;
}

li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left:10px;
    font-family: Arial, Helvetica, sans-serif;
   


}

* {
    margin: 0;
    padding: 0;

   
}

body {
 background-repeat: no-repeat;
 min-height: 100vh;
}

header {
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 100%;

}

.TERUGBRENGEN {
    color: white;
    font-size: 8px;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}



.logo {
    width: 3rem;
}


.links {
    text-align: center ;
}

li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-left:5px;
    font-family: Arial, Helvetica, sans-serif;
   }

   .zoeken {
       position: absolute;
       left: 88%;
       top: 6.1%;
       width: 1%;
       height: %;

   }

   .flex-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px;
   }

   .shoppingcart {
       position: absolute;
       left: 92%;
       width: 3%;
       height: 3%;
   }

   .man {
       position: ;
       width: 3%;
       height: 5%;
   }
input{
    position: absolute;
    top: 5.5%;
    left:75%;
}

