* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.message {
    width: 100%;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
}

.row {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.row img {
    height: 50px;
}

.row ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.row ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.row ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.row ul li img {
    height: 30px;
}

.korting{
    width: 100%;
    padding: 10px;
    background-color: rgb(195, 194, 194);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 85vh;
}

video {
    width: 100%;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}





#messi img {
    display: block;
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: cover;
}

.my-button {
    background-color: #000000; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

footer {
    padding: 5vw 10vw;
    background: linear-gradient(to bottom, #f8e800, #000000);
    color: rgb(0, 0, 0);
}

footer .flex-container:first-child {
    margin-bottom: 6rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a, footer ul:first-child li a {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

footer i {
    margin-left: 1ch;
    font-size: 2rem;
}

footer i:hover {
    transform: scale(1.1);
}

.socials img{
    width: 20%;
    padding: 10px;
}